{% extends 'index.html' %}

{% block content %}
<div class="container-fluid">
    <table class="table table-borderd table-active bg-success">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Content</th>
                <th>Date</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            {% for i in todo %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.title}}</td>
                <td>{{i.content}}</td>
                <td>{{i.date}}</td>
                <td>
                    <a href="{% url 'todo_detail' i.id %}" class="btn btn-info">View</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>


{% endblock %}